[submodule "xmonad/.config/xmonad"]
	path = xmonad/.config/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/.config/xmonad-contrib"]
	path = xmonad/.config/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
